{% if settings.instafeed %}

{% if settings.activeCarousel %}
<section class="instafeed" data-carousel="true">
    {% else %}
    <section class="instafeed" data-carousel="false">
        {% endif %}
        <div class="instafeed__container">
            <div class="instafeed__header">

                <h2 class="instafeed__title">

                    <svg id="_2111679" data-name="2111679" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path id="Caminho_79" data-name="Caminho 79" d="M4.75,24h14.5A4.756,4.756,0,0,0,24,19.25V4.75A4.756,4.756,0,0,0,19.25,0H4.75A4.756,4.756,0,0,0,0,4.75v14.5A4.756,4.756,0,0,0,4.75,24ZM1.5,4.75A3.254,3.254,0,0,1,4.75,1.5h14.5A3.254,3.254,0,0,1,22.5,4.75v14.5a3.254,3.254,0,0,1-3.25,3.25H4.75A3.254,3.254,0,0,1,1.5,19.25Z" fill="#43B773"/>
                        <path id="Caminho_80" data-name="Caminho 80" d="M12,18.13A6.13,6.13,0,1,0,5.87,12,6.137,6.137,0,0,0,12,18.13ZM12,7.37A4.63,4.63,0,1,1,7.37,12,4.635,4.635,0,0,1,12,7.37Z" fill="#43B773"/>
                        <path id="Caminho_81" data-name="Caminho 81" d="M18.358,7.362a1.687,1.687,0,0,0,1.729-1.721,1.729,1.729,0,0,0-3.457,0,1.684,1.684,0,0,0,1.728,1.721Zm.177-1.886c.316.279-.405.618-.405.166C18.13,5.372,18.5,5.442,18.535,5.476Z" fill="#43B773"/>
                      </svg>
                      

                    Siga-nos

                    <a href="https://instagram.com/{{settings.instagram}}">@{{settings.instagram}}

                    </a>
                </h2>
            </div>
            <ul class="instafeed__list">
                {% if settings.instafeedImg1%}
                <li class="instafeed__item">
                    <a href="{{ settings.instafeedLink1 }}" class="instafeed__link">
                        <figure class="instafeed__image">
                            <img alt="Imagem do Instafeed " src="{{ asset(settings.instafeedImg1) }}">
                        </figure>
                    </a>
                </li>
                {% endif %}
                {% if settings.instafeedImg2%}
                <li class="instafeed__item">
                    <a href="{{ settings.instafeedLink2 }}" class="instafeed__link">
                        <figure class="instafeed__image">
                            <img alt="Imagem do Instafeed " src="{{ asset(settings.instafeedImg2) }}">
                        </figure>
                    </a>
                </li>
                {% endif %}
                {% if settings.instafeedImg3%}
                <li class="instafeed__item">
                    <a href="{{ settings.instafeedLink3 }}" class="instafeed__link">
                        <figure class="instafeed__image">
                            <img alt="Imagem do Instafeed " src="{{ asset(settings.instafeedImg3) }}">
                        </figure>
                    </a>
                </li>
                {% endif %}
                {% if settings.instafeedImg4%}
                <li class="instafeed__item">
                    <a href="{{ settings.instafeedLink4 }}" class="instafeed__link">
                        <figure class="instafeed__image">
                            <img alt="Imagem do Instafeed " src="{{ asset(settings.instafeedImg4) }}">
                        </figure>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </section>
    {% endif %}