<article class="product" itemscope itemtype="http://schema.org/SomeProducts">
    <div style="display: none">
        {% set dateFinal = product.deactivation_date | split('-')  %}
        {% set dateModified = product.modified | split('-')  %}
        {% set year = dateFinal[0] <= 0 ? dateModified[0] + 50 : product.deactivation_date %}
        {% set month = dateFinal[1] <= 0 ? dateModified[1] + 01 : product.deactivation_date %}
        {% set day = dateFinal[2] <= 0 ? dateModified[2] + 01 : product.deactivation_date %}
        {% set dateDeactivation =  dateFinal[0] <= 0 ? year ~ "-" ~ month ~ "-" ~ day : product.deactivation_date %}

        <span itemprop="brand">{{ product.brand }}</span>
        <span itemprop="sku">{{ product.id }}</span>
        <span itemprop="description">{{ product.name }}</span>
        <span itemprop="gtin8">{{ product.id }}</span>
        <span itemprop="name">{{ product.name }}</span>

        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{{ product.ranking.rating >= 0 ? 5 : product.ranking.count }}</span>
            <span itemprop="reviewCount">{{ product.ranking.count >= 0 ? 5 : product.ranking.count}}</span>
        </div>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="priceCurrency" content="R$">R$</span>
            <span itemprop="price" content="{{ product.price }}">{{ product.price }}</span>
            <a itemprop="url" alt="{{ product.name }}" title="{{ product.name }}" href="{{ product.link }}">
                {{ product.link }} </a>
            <span itemprop="priceValidUntil"> {{ dateDeactivation }}</span>

            {% if product.available and product.stock > 0 %}
            <link itemprop="availability" href="http://schema.org/InStock" />In stock
            {% else %}
            <meta itemprop="availability" content="http://schema.org/SoldOut">
            {% endif %}
        </div>

        <ul itemprop="review" itemscope itemtype="http://schema.org/Review">
            {% set author = comment.customer.name != "" ? comment.customer.name : "Anonimo" %}

            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <span itemprop="name">{{ author }}</span>
            </span>

            {% for comment in product.comments %}

            {% set author = comment.customer.name != "" ? comment.customer.name : "Anônimo" %}

            <span itemprop="name"> {{ comment.rating }} </span>
            <meta itemprop="datePublished" content="{{ comment.date }}">{{ comment.date }}
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1" />
                <span itemprop="ratingValue">{{ comment.rating }}</span>
                <span itemprop="bestRating">{{ comment.rating }}</span>
            </div>
            <span itemprop="description">{{ comment.comment }}</span>

            {% endfor %}
        </ul>
    </div>


    <div class="product__header">
        <figure class="product__figure">
            {% element 'snippets/flags' {product:product , modifier: 'product' } %}

            {% if  settings.showSecondImg and product.images[1] %}
            <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
            
                <img class="product__image  first__image" 
                src="{{ product.images[0].full }}" 
                data-src="{{ product.images[0].full }}" 
                data-srcset="{{ product.images[0].full }}" 
                alt="{{ product.name }}"
                title="{{ product.name }}"
                width="180"
                height="180"
                layout="responsive">
                
                {% if not utils.is_mobile %}
                <img class="product__image second__image" 
                    src="{{ product.images[1].full }}" 
                    data-src="{{ product.images[1].full }}"
                    data-srcset="{{ product.images[1].full }}" 
                    alt="{{ product.name }}"
                    title="{{ product.name }}"
                    width="180"
                    height="180"
                    layout="responsive">
                {% endif %}

            </a>
        {% else %}
            <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
                <img class="product__image " 
                src="{{ product.images[0].full }}" 
                data-src="{{ product.images[0].full }}"
                data-srcset="{{ product.images[0].full }}"
                alt="{{ product.name }}"
                title="{{ product.name }}"
                width="180"
                height="180"
                layout="responsive">
            </a>
        {% endif %}
        </figure>
    </div>
    {% element 'snippets/flags' {product:product} %}
    <div class="product__main">
        
        <h1 class="product__name"><a class="product__link"
                href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}"
                data-tray-tst="vitrine_produto_link_imagem">{{ product.name }}</a></h1>

        {% if settings.showRating %}
        {% element 'snippets/rating-short' {product:product} %}
        {% endif %}

        <div class="pricing" data-module="pricing" data-snippet="snippets/product-payment"
            data-product-id="{{ product.id }}">
            Carregando...
        </div>

        {% for discount in product.ProgressiveDiscounts %}
        {% if discount.tag %}
        <div class="banner-progressive-discounts">
            <p>{{discount.description}}</p>
        </div>
        {% endif %}
        {% endfor %}

    </div>

    <div class="product__actions"
        data-check="{{ product.AdditionalInfo ? 'additional' : product.has_variation ? 'variation' : 'normal'}}">
        {% if product.stock > 0 or settings.without_stock_sale %}
        {% if product.is_kit %}
        <a class="product__button" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}">
            Ver detalhes
        </a>
        {% elseif product.upon_request %}
        <div class="product__on-request">Produto Sob Consulta</div>
        {% else %}
        {% if settings.buyShowCase %}
        {% if product.has_variation %}  
        <button class="quick__button" data-quickview-button type="button" data-id="{{ product.id }}">
            Espiar
        </button>  
        <a class="product__button" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}">
            Ver detalhes
        </a>
        {% else %}
        <button class="quick__button" data-quickview-button type="button" data-id="{{ product.id }}">
            Espiar
        </button>
        <button type="button" class="product__button" data-cart="buy" data-id="{{ product.id }}">
            Adicionar ao carrinho
        </button>

        {% endif %}
        {% else %}
        <a class="product__button" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}">
            Adicionar ao carrinho
        </a>
        {% endif %}
        {% endif %}
        {% else %}
        <span class="product__unavailable">
            Indispon&iacute;vel
        </span>
        {% endif %}
    </div>

</article>